{% extends "base.html" %}
{% load static %}

{% block head %}
  {% include 'head.html' %}
  {% if object.excluded_flag %}
    <meta property="og:url" content="{{host}}{% url 'members_excluded_list' %}">
    <meta name="robots" content="noindex">
  {% else %}
    <meta property="og:url" content="{{host}}{% url 'members_list' %}">
  {% endif %}
{% endblock %} 

{% comment %} {% block h1 %}{{object.title}}{% endblock %} {% endcomment %}

{% block hero_background %}members-background{% endblock %}

{% block content %}

<section>
  <div class="container">
    {% if object.title %}
    <div class="section-title">
      <h1>{{object.title}}</h1>
    </div>
    {% endif %}
    {% comment %} {% include "members/table.html" %} {% endcomment %}
    {{ object.text_top|safe }}

    <div class="row">
        {% for obj in object_list %}
        <div class="col-12 mb-3">
            <div>Рег. № {{ obj.reg_num }}</div>
            <div>Дата регистрации: {{ obj.reg_date }}</div>
            <div>ИНН: {{ obj.inn }}</div>
            <div>ОГРН: {{ obj.ogrn }}</div>
            <div>
                {{ obj.org_form.fullname }} {{obj.company_fullname}} ({{ obj.org_form.shortname }} {{obj.company_shortname}}), {{ obj.location }}
            </div>
            <div>
            {{ obj.position}} {{ obj.lastname }} {{ obj.firstname }} {{ obj.patronymic }}
            </div>
            {% if object.excluded_flag %}
            <div>Дата исключения: {{ obj.excluded_date }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    {{ object.text_bottom|safe }}
    {% include "pagination.html" %}
  </div>
</section>

{% endblock %}