{% extends "base.html" %}
{% load static %}

{% block head %}
  {% include 'head.html' %}
  {% if object.excluded_flag %}
    <meta property="og:url" content="{{host}}{% url 'members_excluded_list' %}">
    <meta name="robots" content="noindex">
  {% else %}
    <meta property="og:url" content="{{host}}{% url 'members_list' %}">
  {% endif %}
{% endblock %} 

{% comment %} {% block h1 %}{{object.title}}{% endblock %} {% endcomment %}

{% block hero_background %}members-background{% endblock %}

{% block content %}

<section>
  <div class="container">
    {% if object.title %}
    <div class="section-title">
      <h1>{{object.title}}</h1>
    </div>
    {% endif %}
    {% comment %} {% include "members/table.html" %} {% endcomment %}
    {{ object.text_top|safe }}
    {% include "members/div.html" %}
    {{ object.text_bottom|safe }}
    {% include "pagination.html" %}
  </div>
</section>

{% endblock %}