{% extends "base.html" %} 
{% load static %} 

{% block head %}
  {% include 'head.html' %}
  <meta property="og:url" content="{{host}}{% url 'j-u_detail' %}">
{% endblock %} 

{% block hero_background %}join-us-background{% endblock %} 

{% block content %}
<section class="text">
  <div class="container">
    {% if object.title %}
    <div class="section-title">
      <h1>{{ object.title }}</h1>
    </div>
    {% endif %}
    {{ object.text|safe }}

    {% include 'files.html' %}
  </div>
</section>
{% endblock %}
