{% extends "base.html" %} 
{% load static %} 

{% block head %}
<title>{{object.head_title}}</title>
<meta name="description" content="{{object.meta_description}}">
{% endblock %} 

{% block hero_background %}join-us-background{% endblock %} 

{% block content %}
<section class="text">
  <div class="container">
    {% if object.title %}
    <div class="section-title">
      <h1>{{ object.title }}</h1>
    </div>
    {% endif %}
    {{ object.text|safe }}

    {% include 'files.html' %}
  </div>
</section>
{% endblock %}
