{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>{{ object.head_title }}</title>
  <meta name="description" content="{{ object.meta_description }}">
  <meta property="og:title" content="{{ object.head_title }}">
  <meta property="og:description" content="{{ object.meta_description }}">
  <meta property="og:url" content="{{host}}{% url 'index' %}">
{% endblock %} 

{% comment %} {% block h1 %}{{object.title}}{% endblock %} {% endcomment %}

{% comment %} {% block h1 %}
{% endblock %} {% endcomment %}

{% block hero_background %}index-background{% endblock %}

{% block content %}

{% with text=object.text title=object.title %}
{% include "text.html" %}
{% endwith %}

{% with text=object.struct title='Структура' %}
{% include "text-secondary.html" %}
{% endwith %}

{% with text=object.founders title='Учредители' %}
{% include "text-secondary.html" %}
{% endwith %}

{% comment %} <div class="section pt-0"> {% endcomment %}
<div class="section-secondary">
  <div class="container">
    <div class="section-title">
      <span>Учредительные документы</span>
    </div>
    {% with object_list=founding_document_list %}
    {% include 'document-name.html' %}
    {% endwith %}
    {% comment %} <div class="table-responsive">
      <table class="table table-borderless table-striped align-middle">
        <thead>
        <tr>
          <th class="col-10">Название</th>
          <th class="text-center col-2">Файл</th>
        </tr>
      </thead>
      <tbody>
        {% for object in founding_document_list %}
        <tr>
          <td>
            {{ object.name }}
          </td>
          <td class="text-center">
            <a href="{% get_media_prefix %}{{ object.file_path }}" title="размер: {{ object.file_size }}"></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div> {% endcomment %}
  </div>
</div>

{% endblock %}