{% load static filesize %}
<div class="table-responsive">
    <table class="table table-borderless table-striped table-responsive align-middle">
        <thead>
        <tr>
            <th class="col-8">Протокол общего собрания членов</th>
            <th class="text-center col-2">Файл</th>
            <th class="text-center col-2">Размер</th>
        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    {{ object.name }} от {{ object.date|date:"d.m.Y" }}&nbsp;г.
                </td>
                <td class="text-center">
                    <a href="{% get_media_prefix %}{{ object.file_path }}" title="{{ object.name}} от {{ object.date|date:"d-m-Y" }} г."></a>
                </td>
                <td class="text-center">
                    <small>{{ object.file_size|filesize }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>