{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>{{ object.head_title }}</title>
  <meta name="description" content="{{ object.meta_description }}">
  <meta property="og:title" content="{{ object.head_title }}">
  <meta property="og:description" content="{{ object.meta_description }}">
  <meta property="og:url" content="{{host}}{% url 'news_list' %}">
{% endblock %} 

{% block hero_background %}news-background{% endblock %}

{% block content %}

<section class="news">
  <div class="container">
    {% if object.title %}
    <div class="section-title">
      <h1>{{object.title}}</h1>
    </div>
    {% endif %}
    
    {% for object in object_list %}
    <div class="row mb-5">
      <div class="col-12">
        <p class="fw-medium mb-1">{{ object.date}} года</p>
        {% if object.description %}
        {{ object.description|safe }}
        {% endif %}

        {% comment %} {% if object.is_visible_files %}
        <ul class="ps-0 mb-0 files">
          {% for file in object.is_visible_files %}
            <li><a href="{% get_media_prefix %}{{ file.path }}" title="{{ file.name }}">{{ file.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %} {% endcomment %}
        {% include 'files.html' %}
      </div>
    </div>
    {% endfor %}

    {% include "pagination.html" %}
  </div>
</section>

{% endblock %}
