{% load static %}
<div class="table-responsive">
<table class="table table-borderless table-striped table-responsive align-middle">
    <thead>
    <tr>
        <th class="col-8">Название</th>
        <th class="text-center col-2">Файл</th>
        <th class="text-center col-2">Размер</th>
    </tr>
</thead>
<tbody>
    {% for object in object_list %}
    <tr>
    <td>
        {{ object.name }}
    </td>
    <td class="text-center">
        {% comment %} <a href="{% get_media_prefix %}{{ object.file_path }}" title="{{ object.name }}"><small>{{ object.file_size }}</small></a> {% endcomment %}
        <a href="{% get_media_prefix %}{{ object.file_path }}" title="{{ object.name }}"></a>
    </td>
    <td class="text-center">
        <small>{{ object.file_size }}</small>
    </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>