{% load static upload_to %}
<div class="table-responsive">
<table class="table table-borderless table-striped table-responsive align-middle">
    <thead>
        <tr>
        <th class="col-8">{{ caption }}</th>
        <th class="text-center col-2">Файл</th>
        <th class="text-center col-2">Размер</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
        <td>
            {{ object.year }} г.
        </td>
        <td class="text-center">
            <a href="{% get_media_prefix %}{{ object.file_path }}" title="{{ caption }} {{ object.year }} г."></a>
        </td>
        <td class="text-center">
            <small>{{ object.file_size }}</small>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>