<footer class="footer mt-auto">
  <div class="container px-4 px-sm-0">
    {% comment %} <div class="row mb-4">
      <div class="col-md-8">
        <div class="mb-2">
          <i class="fa fa-phone-alt"></i>
          <a href="tel:+79633056757">+7 (963) 305-67-57</a>
        </div>
        <div class="mb-2"><i class="fa fa-envelope"></i>
          <a href="mailto:info@studio-of-metal.ru">info@studio-of-metal.ru</a>
        </div>
        <div class="footer-address">
          <i class="fa fa-map-marker-alt pt-1"></i>
          <div>г.&nbsp;Санкт-Петербург, ул.&nbsp;Студенческая, д.&nbsp;10 литера&nbsp;В, ТЦ&nbsp;"Ланской" 3&nbsp;этаж, секция&nbsp;8.3</div>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="d-flex justify-content-center justify-content-md-end">
          <a class="btn-social btn-whatsapp" href="https://api.whatsapp.com/send?phone=79062425219" target="_blank" rel="noopener nofollow" aria-label="Whatsapp">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a class="btn-social btn-telegram" href="https://t.me/+79062425219" target="_blank" rel="noopener nofollow" aria-label="Телеграм">
            <i class="fab fa-telegram-plane"></i>
          </a>
          <a class="btn-social btn-vk" href="https://vk.com/public202109189" target="_blank" rel="noopener nofollow" aria-label="Вконтакте">
            <i class="fab fa-vk"></i>
          </a>
          <a class="btn-social btn-youtube" href="https://www.youtube.com/channel/UCMrVSYMuyIifKcLg6MuMXkA" target="_blank" rel="noopener nofollow" aria-label="Youtube">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="row copyright">
      <div class="col-md-6">
        <i class="far fa-copyright"></i><a href="/">Ассоциация «РегионРемМонтаж ПБ»</a>, 2010-<span><script>document.write(new Date().getFullYear());</script></span>
      </div>
      <div class="col-md-6 mt-2 mt-md-0 text-md-end">
        <i class="fas fa-user-shield"></i><a href="/privacy-policy/">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
