{% load static navlink %}
{% comment %} <header class="header"> {% endcomment %}
<header class="py-1 py-md-4">
  <div class="container-fluid">
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light sticky-top px-4 px-lg-5 py-lg-0"> {% endcomment %}
    <nav class="navbar navbar-expand-md navbar-light px-lg-5 py-md-0" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <a href="/" class="navbar-brand p-0">
        <img src="{% static 'images/logo.png' %}" alt="Ассоциация «РегионРемМонтаж ПБ»" width="60">
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="ms-auto">  
            <div class="navbar-nav py-2 py-md-0">
              <div class="nav-item dropdown">
                <button class="nav-link btn dropdown-toggle {% navlink request 'p-d_detail, members_list, c-f_list, inspection_list, d-m_list, reporting_list' %}" data-bs-toggle="dropdown" aria-expanded="false">Об Ассоциации</button>
                <div class="dropdown-menu rounded-0 rounded-bottom mt-md-1 px-2 px-md-1">
                    <a href="{% url 'p-d_detail' %}" class="nav-item nav-link {% navlink request 'p-d_detail' %}" itemprop="url">Приоритетные направления</a>
                    <a href="{% url 'members_list' %}" class="nav-item nav-link {% navlink request 'members_list' %}" itemprop="url">Реестр членов</a>
                    <a href="{% url 'c-f_list' %}" class="nav-item nav-link {% navlink request 'c-f_list' %}" itemprop="url">Компенсационный фонд</a>
                    <a href="{% url 'inspection_list' %}" class="nav-item nav-link {% navlink request 'inspection_list' %}" itemprop="url">Проверка организаций</a>
                    <a href="{% url 'd-m_list' %}" class="nav-item nav-link {% navlink request 'd-m_list' %}" itemprop="url">Решения собраний</a>
                    <a href="{% url 'reporting_list' %}" class="nav-item nav-link {% navlink request 'reporting_list' %}" itemprop="url">Отчетность</a>
                </div>
              </div>
          
              <a href="{% url 'news_list' %}" class="nav-item nav-link {% navlink request 'news_list' %}" itemprop="url">Новости</a>
              <a href="{% url 'j-u_detail' %}" class="nav-item nav-link {% navlink request 'j-u_detail' %}" itemprop="url">Вступить в СРО</a>

              <div class="nav-item dropdown">
                <button class="nav-link btn dropdown-toggle {% navlink request 't-r_list, f-l_list, r-l_list, l-r_list' %}" data-bs-toggle="dropdown" aria-expanded="false">Документы</button>
                <div class="dropdown-menu rounded-0 rounded-bottom mt-md-1 px-2 px-md-1">
                  <a href="{% url 't-r_list' %}" class="nav-item nav-link {% navlink request 't-r_list' %}" itemprop="url">Технические регламенты</a>
                  <a href="{% url 'f-l_list' %}" class="nav-item nav-link {% navlink request 'f-l_list' %}" itemprop="url">Федеральные законы</a>
                  <a href="{% url 'r-l_list' %}" class="nav-item nav-link {% navlink request 'r-l_list' %}" itemprop="url">Нормативные правовые документы</a>
                  <a href="{% url 'l-r_list' %}" class="nav-item nav-link {% navlink request 'l-r_list' %}" itemprop="url">Локальные нормативные акты</a>
                </div>
              </div>

              <a href="{% url 'contact_detail' %}" class="nav-item nav-link {% navlink request 'contact_detail' %}" itemprop="url">Контакты</a>
            </div>
        
          </div>
        </div>
    </nav>
  </div>
</header>  